/* ! === FONTS === */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300;400;700&display=swap");

/*! === VARIABLES === */
:root {
   --light-clr: #fff;
   --light-clr-2: #bed2c9;
   --light-clr-3: #e1e7dd;
   --dark-clr: #2e2e2e;
   --body-font-clr: #bdbdbd;
   --body-bg-clr: #222222;
   --title-font: "Bebas Neue", cursive;
   --body-font: "Poppins", sans-serif;
}

/*! === BASE === */
*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: var(--body-font);
}

/*! === SCROLLBAR === */
::-webkit-scrollbar {
   width: 8px;
}

::-webkit-scrollbar-track {
   background: var(--light-clr-2);
}

::-webkit-scrollbar-thumb {
   background: #888;
}

::-webkit-scrollbar-thumb:hover {
   background: #555;
}
